#toolbox:not([mode="text"]) > button,
#previewToolbar:not([mode="text"]) > button,
#availableItemsTable > tbody > tr > td,
#addedItemsTable > tbody > tr > td {
    -moz-context-properties: fill, fill-opacity, stroke;
	fill: transparent;
	stroke: currentColor;
	fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}
#toolbox:not([mode="text"]) > button::before,
#previewToolbar:not([mode="text"]) > button::before,
#availableItemsTable > tbody > tr > td::before,
#addedItemsTable > tbody > tr > td::before {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 16px;
    width: 16px;
    padding-left: 5px;
}

#previewToolbar > div > div.dropdownContainer {
    height: 100%;
}

.flex::before {
    background: url("icons/flex.svg");
}
.space::before {
    background: url("icons/space.svg");
}
.toolsep::before {
    background: url("icons/separator1.svg");
}
.addcontact::before {
    background: url("icons/addcontact.svg");
}
.addlist::before {
    background: url("icons/addlist.svg");
}
.edit::before {
    background: url("icons/edit.svg");
}
.delete::before {
    background: url("icons/delete.svg");
}
.prefs::before {
    background: url("icons/prefs.svg");
}
.print::before {
    background: url("icons/print.svg");
}
.undo::before {
    background: url("icons/goback.svg");
}
.redo::before {
    background: url("icons/goforward.svg");
}
.newevent::before {
    background: url("icons/newevent.svg");
}
.newtask::before {
    background: url("icons/newtask.svg");
}
.template::before {
    background: url("icons/addtemplate1.svg");
}
.search::before {
    background: url("icons/search.svg");
}
.newAB::before {
    background: url("icons/address.svg");
}
.chat::before {
    background: url("icons/chat.svg");
}
.sync::before {
    background: url("icons/synchronize.svg");
}
.email::before {
    background: url("icons/newmsg.svg");
}
.layout::before {
    background: url("icons/layout.svg");
}

#toolbox > div.toolsep,
#previewToolbar > div.toolsep {
    display: inline-block;
    background: url("icons/separator2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 0 6px;
    -moz-context-properties: fill, fill-opacity, stroke;
	fill: transparent;
	stroke: currentColor;
	fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

#toolbox > div.space,
#previewToolbar > div.space {
    width: 30px !important;
}


#toolbox[labelalign="end"] .CBToolbarButton,
#toolbox:not([mode="full"]) .CBToolbarButton,
#previewToolbar[labelalign="end"] .CBToolbarButton,
#previewToolbar:not([mode="full"]) .CBToolbarButton {
    flex-direction: row;
}
#toolbox[labelalign="bottom"][mode="full"] .CBToolbarButton,
#previewToolbar[labelalign="bottom"][mode="full"] .CBToolbarButton {
    flex-direction: column;
}
#toolbox[mode="icons"] button,
#previewToolbar[mode="icons"] button {
    font-size: 0;
}
 
#toolbox[labelalign="end"] > #toolbox[mode="full"] & .CBToolbarButton,
#previewToolbar[labelalign="end"] > #previewToolbar[mode="full"] & .CBToolbarButton {
    padding-inline-start: 2px;
}


.CBToolbarButton {
    display: flex;
    min-width: unset;
    white-space: nowrap;
    align-items: center;
}
  
.CBToolbarButton:not([disabled="true"],[checked="true"],[open="true"],:active):hover {
      background-color: var(--toolbarbutton-hover-background);
      border-color: var(--toolbarbutton-hover-bordercolor);
      box-shadow: var(--toolbarbutton-hover-boxshadow);
}
  
.CBToolbarButton:not([disabled="true"]):is([open="true"],[checked="true"],:hover:active) {
      background-color: var(--toolbarbutton-checked-background);
      border-color: var(--toolbarbutton-active-bordercolor);
      box-shadow: var(--toolbarbutton-active-boxshadow);
      transition-duration: 10ms;
}
  
.CBToolbarButton:not([disabled="true"]):hover:active,
.CBToolbarButton:not([disabled="true"])[open="true"] {
      background-color: var(--toolbarbutton-active-background) !important;
}
  
  
/*
    toolbox:not([labelalign="end"]) > toolbar[mode="full"]
    .CBToolbarButton:not(.button-appmenu)[type="menu"] {
      padding-inline-end: 15px !important;
      background-image: var(--icon-nav-down-sm);
      background-size: 12px;
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: calc(100% - 4px);
*/
.CBToolbarButton[disabled="true"] {
        opacity: 0.4;
}
