:root {
  --listbox-selected-outline: none;
  --tree-header-table-height: 30px;
  --tree-header-cell-padding: 6px;
  --tree-header-cell-indent: 0;
  --list-item-min-height: 26px;
  --list-item-buttons-size: 22px;
  --table-header-cell-icon-width: 24px;
  --table-header-cell-icon-min-width: 24px;
  --table-row-cell-img-margin-inline-start: 6px;
  --table-row-cell-button-margin-inline-start: 4px;
  --in-content-button-height: 2.2em;
  --in-content-box-border-color: color-mix(in srgb, currentColor 41%, transparent);
  --in-content-button-border-radius: 3px;
  --in-content-box-background: #fff;
}

:root[uidensity="compact"] {
  --tree-header-table-height: 27px;
  --tree-header-cell-padding: 3px;
  --tree-header-cell-indent: 3px;
  --list-item-min-height: 18px;
  --list-item-buttons-size: 18px;
  --table-header-cell-icon-width: 18px;
  --table-header-cell-icon-min-width: 18px;
  --table-header-cell-icon-button-padding: 0;
  --table-row-cell-img-margin-inline-start: 3px;
  --table-row-cell-button-margin-inline-start: 1px;
}

:root[uidensity="touch"] {
  --tree-header-table-height: 36px;
  --tree-header-cell-padding: 9px;
  --tree-header-cell-indent: -3px;
  --list-item-min-height: 32px;
  --table-header-cell-icon-width: 33px;
  --table-header-cell-icon-min-width: 33px;
  --table-row-cell-img-margin-inline-start: 11px;
  --table-row-cell-button-margin-inline-start: 9px;
}

@media not (prefers-contrast) {
  :root {
      --listbox-color: var(--color-gray-80);
      --listbox-selected-bg: var(--color-gray-20);
      --listbox-focused-selected-bg: var(--selected-item-color);
      --listbox-selected-color: var(--selected-item-text-color);
      --listbox-focused-selected-color: var(--selected-item-text-color);
      --listbox-hover: color-mix(in srgb, transparent 80%, var(--listbox-focused-selected-bg));
      --listbox-border-type: dashed;
      --tree-view-bg: var(--color-white);
      --tree-view-color: var(--color-ink-90);
      --tree-view-header-hover-bg: var(--color-gray-20);
      --tree-view-header-hover-active-bg: var(--color-gray-30);
      --tree-view-header-border-color: var(--color-gray-30);
      --tree-row-delete-button-color: var(--color-red-60);
  }

  @media (prefers-color-scheme: dark) {
      :root {
          --listbox-color: var(--color-gray-05);
          --listbox-selected-bg: var(--color-gray-70);
          --listbox-focused-selected-bg: var(--color-blue-60);
          --tree-view-bg: var(--color-gray-90);
          --tree-view-color: var(--color-gray-30);
          --tree-view-header-hover-bg: var(--color-gray-70);
          --tree-view-header-hover-active-bg: var(--color-gray-90);
          --tree-view-header-border-color: var(--splitter-color);
          --tree-row-delete-button-color: var(--color-red-40);
          --in-content-box-background: rgb(35, 34, 43);
      }
  }
}

@media (prefers-contrast) {
  :root {
      --listbox-color: currentColor;
      --listbox-selected-color: SelectedItemText;
      --listbox-focused-selected-bg: SelectedItem;
      --listbox-selected-bg: color-mix(in srgb, transparent 80%, var(--listbox-focused-selected-bg));
      --listbox-selected-outline: 2px solid SelectedItem;
      --listbox-border-type: solid;
      --tree-view-bg: Field;
      --tree-view-color: FieldText;
      --tree-view-header-hover-bg: color-mix(in srgb, Field 70%, hsl(0, 0%, 50%));
      --tree-view-header-border-color: ThreeDShadow;
      --in-content-box-border-color: -moz-DialogText;
      --in-content-box-background: -moz-Dialog;
  }
}

:root[lwt-tree] {
  --listbox-selected-bg: color-mix(in srgb, transparent 70%, var(--sidebar-highlight-background-color));
  --listbox-hover: color-mix(in srgb, transparent 80%, var(--sidebar-highlight-background-color));
  --listbox-focused-selected-bg: var(--sidebar-highlight-background-color, var(--selected-item-color));
  --listbox-selected-color: var(--sidebar-highlight-text-color, var(--selected-item-text-color));
}








:root {
  --foldertree-background: -moz-Dialog;
  --treeitem-border-radius: 3px;
  --folder-mode-name-padding: 6px;
  --folder-tree-header-gap: 9px;
  --folder-tree-header-padding: 9px;
  --folder-pane-icon-size: 16px;
  --folder-pane-icon-new: var(--icon-add);
  --folder-pane-icon-more: var(--icon-more);
  --folder-pane-icon-download: var(--icon-cloud-download);
  --folder-pane-icon-kebab: var(--icon-kebab);
}

@media not (prefers-contrast) {
  :root {
    --foldertree-background: var(--color-gray-05);
    --folderpane-unread-count-background: var(--color-gray-50);
    --folderpane-unread-count-text: var(--color-white);
    --folderpane-total-count-background: var(--color-gray-20);
    --folderpane-total-count-text: var(--color-gray-90);
    --folderpane-unread-new-count-background: var(--color-blue-60);
    --treeitem-background-selected: var(--color-gray-20);
    --treeitem-background-hover: var(--color-gray-10);
    --treeitem-text-active: var(--color-white);
    --treeitem-background-active: var(--color-blue-50);
    --in-content-item-selected-unfocused: var(--color-gray-20);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foldertree-background: var(--color-gray-80);
      --folderpane-unread-new-count-background: var(--color-blue-50);
      --folderpane-total-count-background: var(--color-gray-60);
      --folderpane-total-count-text: var(--color-white);
      --treeitem-background-selected: var(--color-gray-70);
      --treeitem-background-hover: var(--color-gray-60);
      --treeitem-background-active: var(--color-blue-60);
      --in-content-item-selected-unfocused: rgba(249, 249, 250, 0.05);
      --in-content-primary-button-background: #45a1ff;
      --in-content-primary-button-background-hover: #65c1ff;
      --in-content-primary-button-background-active: #85e1ff;
      --in-content-focus-outline-color: #45a1ff;
    }
  }
}

@media (prefers-contrast) {
  :root:not(:-moz-lwtheme) {
    --folderpane-unread-count-background: var(--selected-item-color);
    --folderpane-unread-count-text: var(--selected-item-text-color);
    --folderpane-total-count-background: var(--selected-item-color);
    --folderpane-total-count-text: var(--selected-item-text-color);
    --folderpane-unread-new-count-background: ButtonShadow;
    --treeitem-background-selected: transparent;
    --treeitem-background-hover: transparent;
    --treeitem-outline-hover: 2px solid var(--selected-item-color);
    --treeitem-text-active: var(--selected-item-text-color);
    --treeitem-background-active: var(--selected-item-color);
  }
}

:root[lwt-tree] {
  --foldertree-background: var(--sidebar-background-color);
  --treeitem-background-selected: color-mix(in srgb, transparent 70%, var(--sidebar-highlight-background-color));
  --treeitem-background-hover: color-mix(in srgb, transparent 80%, var(--sidebar-highlight-background-color));
  --treeitem-text-active: var(--sidebar-highlight-text-color);
  --treeitem-background-active: var(--sidebar-highlight-background-color);
}

:root[uidensity="compact"] {
  --folder-mode-name-padding: 3px;
  --folder-tree-header-gap: 6px;
  --folder-tree-header-padding: 4px 6px;
}

:root[uidensity="touch"] {
  --folder-mode-name-padding: 9px;
  --folder-tree-header-gap: 12px;
  --folder-pane-icon-size: 20px;
  --folder-pane-icon-new: var(--icon-add-md);
  --folder-pane-icon-more: var(--icon-more-md);
  --folder-pane-icon-download: var(--icon-cloud-download-md);
}


#accountsOrCatsTreeSelect option {
  width: 100%;
}
#cardbookAccountsTree,
#cardbookAccountsTree ul {
  margin: 0;
  padding: 0;
  list-style: none;
  --depth: 0;
  --indent: calc(16px * var(--depth));
}

#cardbookAccountsTree ul {
  overflow: hidden;
  height: auto;
  line-height: 24px;
}

#cardbookAccountsTree:focus-visible {
  outline: none;
}

.container {
  display: flex;
  align-items: center;
  -moz-context-properties: fill;
  margin-inline: 6px;
  border-radius: var(--treeitem-border-radius);
  fill: currentColor;
  cursor: default;
  padding-inline-start: var(--indent);
}

li.selected > .container {
  background-color: var(--treeitem-background-selected);
}

li:not(.selected) > .container:hover {
  background-color: var(--treeitem-background-hover);
}

@media (prefers-contrast) {
  li:not(:focus-visible) > .container:hover {
    outline: var(--treeitem-outline-hover);
    outline-offset: -2px;
  }
}

#cardbookAccountsTree:focus-within li.selected > .container,
#cardbookAccountsTree li.drop-target > .container {
  background-color: var(--treeitem-background-active);
  color: var(--treeitem-text-active);
}

#cardbookAccountsTree li .twisty {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--list-item-buttons-size);
  height: var(--list-item-buttons-size);
}

#cardbookAccountsTree li:not(.children) .twisty-icon {
  display: none;
}

#cardbookAccountsTree li.children.collapsed > .container .twisty-icon {
  transform: rotate(-90deg);
}

#cardbookAccountsTree li.children.collapsed:dir(rtl) > .container .twisty-icon {
  transform: rotate(90deg);
}

@media (prefers-reduced-motion: no-preference) {
  #cardbookAccountsTree .twisty-icon {
    transition: transform var(--transition-duration) var(--transition-timing);
  }
}

#cardbookAccountsTree .icon {
  position: relative;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  -moz-context-properties: fill, stroke;
  fill: var(--CBicon-color);
  stroke: var(--CBicon-color);
}

#cardbookAccountsTree li:is([icontype="localdb"]) > .container > .icon {
  background-image: url("../skin/icons/addressbooks/localdb.svg");
}

#cardbookAccountsTree li:is([icontype="file"]) > .container > .icon {
  background-image: url("../skin/icons/addressbooks/file.svg");
}

#cardbookAccountsTree li:is([icontype="directory"]) > .container > .icon {
  background-image: url("../skin/icons/addressbooks/directory.svg");
}

#cardbookAccountsTree li:is([icontype="remote"]) > .container > .icon {
  background-image: url("../skin/icons/addressbooks/remote.svg");
}

#cardbookAccountsTree li:is([icontype="search"]) > .container > .icon {
  background-image: url("../skin/icons/addressbooks/search.svg");
}

#cardbookAccountsTree li:is([icontype="org"]) > .container > .icon,
#cardbookAccountsTree li:is([icontype="categories"]) > .container > .icon {
  width: 16px;
  height: 16px;
  background:var(--CBicon-color);
  border-radius:50%;
  -moz-border-radius:50%;
  /* line-height:20px; */
  vertical-align:middle;
}

/*#cardbookAccountsTree li:is([icontype="categories"]).selected > .container > .icon {
  background-color: var(--treeitem-background-active) !important;
}*/

#cardbookAccountsTree .statusIcon{
  position: relative;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

#cardbookAccountsTree li:is([statustype="readonly"]) > .container > .statusIcon {
  background-image: url("../skin/icons/locked.svg");
}

#cardbookAccountsTree li:is([statustype="syncing"]) > .container > .statusIcon {
  background-image: url("../skin/icons/syncing.svg");
}

#cardbookAccountsTree li:is([statustype="syncfailed"]) > .container > .statusIcon {
  background-image: url("../skin/icons/failed.svg");
}

.name {
  flex: 1;
  margin-inline: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

#cardbookAccountsTree li[data-server-type] > .container > .name {
  font-weight: bold;
}

#cardbookAccountsTree:focus-within li.noselect-folder.selected > .container > .name {
  opacity: 0.8;
}

#cardbookAccountsTree:focus-within li.selected.new-messages > .container > .name {
  color: currentColor;
}
