menuitem[isAList="false"] {
	list-style-image: url("chrome://cardbook/content/skin/icons/abcontact.svg");
}
menuitem[isAList="true"] {
	list-style-image: url("chrome://cardbook/content/skin/icons/ablist.svg");
}
