.pref-category-box {
	background-color: var(--in-content-categories-background);
	border-inline-end: 1px solid var(--in-content-categories-border);
	width: 18em;
}

#categories > .category {
	appearance: none;
	border: 1px solid var(--in-content-primary-button-border-color);
	border-radius: 4px;
	color: inherit;
	cursor: default;
	line-height: 48px;
	margin-inline: 12px;
	min-height: 48px;
	padding-inline: 34px 10px;
	list-style-type: none;
	transition: 
		background-color 150ms,
		line-height 350ms ease-in-out,
		min-height 350ms ease-in-out;
	white-space: nowrap;
}
#categories{
	transition: margin 350ms ease-in-out;
}
#categories > .category {
	transition: margin 250ms ease-in-out;
}

li.category {
    -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity !important;
	stroke: rgb(0,0,0) !important;
	fill: rgba(0,0,0,0) !important;
	fill-opacity: 0.85 !important;
    @media (prefers-color-scheme: dark) {
		stroke: rgb(255,255,255) !important;
		fill: rgba(0,0,0,0) !important;
		fill-opacity: 0.85 !important;
	}
}

#category-cardbook-generalPane {
	background-image: url("icons/prefs.svg");
}
#category-cardbook-toolbarPane {
	background-image: url("icons/toolbar.svg");
}
#category-cardbook-CardBookPane {
	background-image: url("icons/tab.svg");
}
#category-cardbook-editionPane {
	background-image: url("icons/edit.svg");
}
#category-cardbook-advancedPane {
	background-image: url("icons/advanced.svg");
}
#category-cardbook-IMPPPane {
	background-image: url("icons/chat.svg");
}
#category-cardbook-customFieldsPane {
	background-image: url("icons/custom.svg");
}
#category-cardbook-listsPane {
	background-image: url("icons/list.svg");
}
#category-cardbook-syncPane {
	background-image: url("icons/synchronize.svg");
}
#category-cardbook-emailPane {
	background-image: url("icons/compose.svg");
}
#category-cardbook-birthdaylistPane {
	background-image: url("icons/smiley.svg");
}
#category-cardbook-helpPane {
	background-image: url("icons/help.svg");
}

/* for the contribute button */
.addon-detail-contribute-button {
	-moz-context-properties: fill;
	fill: red;
	background-image: url("icons/heart.svg");
	background-repeat: no-repeat;
	background-position: 8px;
	padding-inline-start: 28px;
	margin-top: var(--card-padding);
	margin-bottom: 0;
	align-self: flex-end;
}
.addon-detail-contribute-button:dir(rtl) {
	background-position-x: right 8px;
}

#autocompleteRestrictSearchvBox {
	width: 700px;
}
#autocompleteRestrictSearchFieldsTextBox {
	flex-grow: 1;
}
#adrFormulahBox {
	width: 700px;
}
#adrFormulaTextBox {
	flex-grow: 1;
}
#customFieldsDef {
	width: 700px;
}
#kindCustomTextBox,
#memberCustomTextBox {
	flex-grow: 1;
}
.cardbook-td-input > input {
	width: 90%;
}
.cardbook-large-column {
    width: 60%;
}
#calendarEntryTitlevBox {
	width: 700px;
}
#calendarEntryTitleTextBox {
	flex-grow: 1;
}

.prefImage {
    display: list-item;
    list-style-position: inside;
}

#buttonsContainer {
    padding-left: 10px;
    padding-right: 10px;
}
#previewToolbar {
	height: 50px;
	border: 2px solid currentColor;
}