/* cute tabs */
:root {
	--box-border-color: ThreeDShadow;
	--highlight-color: Highlight;
	--tab-hover-background: hsla(0, 0%, 50%, 0.15);
	--tab-selected-background: hsla(0, 0%, 50%, 0.25);
}

:root:-moz-lwtheme {
	--box-border-color: #adadae;
}

:root:-moz-lwtheme-brighttext {
	--box-border-color: rgba(249, 249, 250, 0.2);
	--highlight-color: #0a84ff;
	--tab-hover-background: hsla(0, 0%, 50%, 0.3);
	--tab-selected-background: hsla(0, 0%, 50%, 0.5);
}
.cardbookContactButtons {
	background-color: transparent;
	color: inherit !important;
	border: 0;
}
.cardbookContactButtons:hover {
	background-color: var(--tab-hover-background);
}
.cardbookContactButtons[visuallyselected="true"] {
	margin-block: 0;
	background-color: var(--tab-selected-background);
	border-bottom: 2px solid var(--tab-line-color, var(--highlight-color));
}


label {
	user-select: text;
}

.boldFont {
	font-weight: bold;
}
.hidden {
	display: none !important;
}

.vbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.vbox-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vcentered {
    justify-content: center;
}

.vleft {
    justify-content: flex-start;
}

.vright {
    justify-content: flex-end;
}

.vbox .separator,
.vbox .spacer {
    height: 10px;
}

.hbox {
    display: flex;
    flex-direction: row;
}

.hbox .separator,
.hbox .spacer {
    width: 10px;
}

.hcentered {
    align-items: center;
}

.indent {
	margin-inline-start: 22px;
}

select {
    max-width: 200px;
}

.tab-container section {
	display: none;
	padding: 6px 12px;
	border-top: none;
}
.tab-container section.active {
	display: block;
}

.left-to-right {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.fullWidth {
	width: 100%;
}
.thirdWidth {
	width: 33%;
}

.multilineLabel {
	white-space: pre;
}

tr.indentRow td:first-child {
    padding-left: 20px;
}

.small-button {
	min-width: 3em;
	padding: 0;
	margin: 2px;
}
.small-button + .small-button {
	margin-inline: 0 4px;
}

.red {
	border: 1px solid red;
}
.blue {
	border: 1px solid blue;
}
.green {
	border: 1px solid green;
}
.yellow {
	border: 1px solid yellow;
}
