
@media (prefers-color-scheme: dark) {
	.cardbookMergeSelectedClass textarea[mergeSelected="true"],
	.cardbookMergeSelectedClass input[mergeSelected="true"] {
		background-color: #034303 !important;
	}
}
@media not (prefers-color-scheme: dark) {
	.cardbookMergeSelectedClass textarea[mergeSelected="true"],
	.cardbookMergeSelectedClass input[mergeSelected="true"] {
		background-color: #3ad23a !important;
	}
}
