.notificationMessage {
    display: list-item;
    list-style-position: inside;
    -moz-context-properties: fill, fill-opacity;
	fill: currentColor;
}
.notificationMessage[type=info] {
    list-style-image: url("../skin/icons/alert/information.svg");
}
.notificationMessage[type=warning] {
    list-style-image: url("../skin/icons/alert/warning.svg");
}
.notificationMessage[type=OK] {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .notificationMessage[type=warning] {
        color: #ffffa8;
    }
}
@media not (prefers-color-scheme: dark) {
    .notificationMessage[type=warning] {
        background-color: #ffffa8;
    }
}
