img.Contact {
    position: relative;
    width: 16px;
    height: 16px;
    -moz-context-properties: fill, opacity;
    fill: currentColor;
    content: url("../skin/icons/abcontact.svg");
}
img.MailList {
    content: url("../skin/icons/ablist.svg");
}
img.Mail {
    content: url("../skin/icons/mail.svg");
}
