#logEditionTable {
	max-width: 900px;
	min-height: 500px;
}

.selectTree option[data-value='Warning'] {
	background-color: #F2F5A9 !important;
}

.selectTree option[data-value='Error'] {
	background-color: #F5A9A9 !important;
}

