.form-icon {
	cursor: pointer;
	-moz-context-properties: fill, fill-opacity, stroke;
	fill: color-mix(in srgb, currentColor 20%, transparent);
	stroke: currentColor;
	fill-opacity: 0.7;
	margin-inline: -26px 10px;
}

.infoIcon {
	-moz-context-properties: fill;
	content: url("../skin/icons/alert/info.svg");
	fill: currentColor;
}
.warningIcon {
	-moz-context-properties: fill;
	content: url("../skin/icons/alert/warning.svg");
	fill: currentColor;
}
.hiddenIcon {
	-moz-context-properties: fill;
	content: url("../skin/icons/alert/hidden.svg");
	fill: currentColor;
}
.visibleIcon {
	-moz-context-properties: fill;
	content: url("../skin/icons/alert/visible.svg");
	fill: currentColor;
}
.clearIcon {
	-moz-context-properties: fill, stroke, fill-opacity, stroke-opacity;
	content: url("../skin/icons/alert/clear.svg");
}
