#remotePageUsername,
#remotePagePassword {
	flex: 1;
}

#messageLabel {
  padding-left: 10px;
}

.questionIcon {
  width: 48px;
  height: 48px;
  -moz-context-properties: fill;
  fill: currentColor;
}

.questionIcon {
  content: url("../skin/icons/alert/question.svg");
  -moz-context-properties: fill, fill-opacity;
  fill-opacity: 0.8;
}