@import url("chrome://messenger/skin/shared/preferences/subdialog.css");
@import url("chrome://messenger/skin/abFormFields.css");
@import url("chrome://messenger/skin/icons.css");

:root {
  appearance: none;
  font: message-box;
  background-color: var(--layout-background-0);
  --address-book-card-min-height: 140px;
  --ab-card-line-height: 1.3em;
  --ab-card-table-row-height: 22px;
  @media (prefers-contrast) {
    background-color: transparent;
    color: currentColor;
    --address-book-cards-list-bg: transparent;
    --address-book-icons-color: currentColor;
  }
  @media not (prefers-contrast) {
    background: var(--layout-background-0);
    color: var(--layout-color-0);

    --address-book-cards-list-bg: var(--layout-background-1);
    --address-book-icons-color: var(--layout-color-0);
  }
}

:root[uidensity="compact"] {
  --ab-card-line-height: 1em;
  --ab-card-table-row-height: 18px;
}

:root[uidensity="touch"] {
  --ab-card-line-height: 1.4em;
  --ab-card-table-row-height: 32px;
}

/* Globals */

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Page layout */

#addressbooksPane,
#cardsPane,
#detailsPane {
	contain: size;
  padding-block-start: 10px;
}

#cardbookContactDetailsBox {
  padding-block-start: 10px;
}

#addressbooksPane.collapsed-by-splitter,
#detailsPane.collapsed-by-splitter {
    display: none;
}

body {
  --addressbooksSplitter-width: 18em;
  --cardsSplitter-width: 54em;
  --cardsSplitter-height: 36em;

  display: grid;
  grid-template: "toolbox toolbox toolbox toolbox toolbox" min-content
                 "books addressbooksSplitter search cardsSplitter details" minmax(20px, max-content)
                 "books addressbooksSplitter cards cardsSplitter details" auto
                 / minmax(auto, var(--addressbooksSplitter-width)) min-content minmax(auto, 1fr) min-content minmax(auto, var(--cardsSplitter-width));

}

body.layout-table {
  grid-template: "toolbox toolbox toolbox" min-content
                 "books addressbooksSplitter search" min-content
                 "books addressbooksSplitter cards" minmax(auto, 1fr)
                 "books addressbooksSplitter cardsSplitter" min-content
                 "books addressbooksSplitter details" minmax(auto, var(--cardsSplitter-height))
                 / minmax(auto, var(--addressbooksSplitter-width)) min-content minmax(auto, 1fr);
}



/* Toolbar */
#toolbox {
  padding-block-start: 5px;
  grid-area: toolbox;
  font: message-box;
  font-size: 1rem;
}

/* Books pane */

#addressbooksPane {
  grid-area: books;
  padding-block-start: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--layout-background-2);
}

#addressbooksSplitter {
  grid-area: addressbooksSplitter;
}

#search {
  grid-area: search;
  padding-block-start: 10px;
  overflow-y: hidden;
}

#cardbookAccountsTree {
  flex: 1;
  font-size: 1.1rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  -moz-user-select: none;
}
#cardbookAccountsTree:focus-visible {
    outline: none;
}
#cardbookAccountsTree,
#cardbookAccountsTree ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#addressbooksPane:focus .selected .twisty {
  stroke: currentColor;
}

/* Cards pane */
#cardsPane {
  position: relative;
  grid-area: cards;
  padding-block-start: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: var(--address-book-cards-list-bg);
}

#cardsPaneHeader {
  display: flex;
  margin-block-end: 8px;
  margin-inline: 6px;
  align-items: center;
}

#cardbookSearchInput {
  height: var(--in-content-button-height);
  flex: 1;
  margin-block: 0;
  margin-inline: 0 6px;
  padding-inline: 8px;
  box-sizing: border-box;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: var(--in-content-button-border-radius);
  color: inherit;
  background-color: var(--in-content-box-background);
}
#cardbookSearchInput:focus {
    border-color: transparent;
    outline: 2px solid var(--in-content-focus-outline-color);
    outline-offset: -1px;
}

#cardbookCardsTree {
  -moz-context-properties: fill;
  fill: currentColor;
}
#cardbookCardsTree[rows="cb-table-card-row"] {
  border-top: 1px solid var(--splitter-color);
}


tr[is="cb-table-card-row"] td > .card-container {
  display: flex;
  align-items: center;
  max-height: inherit;
  box-sizing: border-box;
}

/* Details pane */

#cardsSplitter {
  grid-area: cardsSplitter;
}

#detailsPane {
  grid-area: details;
  min-height: var(--address-book-card-min-height);
  user-select: text;
  overflow-y: auto;
}

#defaultCardImage {
	border-radius: 100%;
	width: 150px;
	height: 150px;
	background-color: var(--in-content-button-background);
	-moz-context-properties: stroke;
	stroke: color-mix(in srgb, transparent 50%, var(--recipient-avatar-color));
}

